* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  /* background-color: #d2e0fb; */
}

img.group-photo {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  object-fit: cover;
}

img.favicon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

img#walless {
  width: 40px;
}

li.working-place {
  display: flex;
  align-items: center;
  gap: 8px;
}

li.working-place + li.working-place {
  margin-top: 8px;
}

li.working-place > a {
  flex: 1;
}

img.working-place {
  width: 40px;
}

a.working-place {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #bc7af9;
  text-decoration: none;
}

a.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

i#github {
  font-size: 40px;
  color: #8eaccd;
}

span#github {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: linear-gradient(to bottom, #8eaccd, #bc7af9);
}

h1 {
  color: #ffffff;
  font-size: 48px;
}

#first-outline {
  width: 340px;
  height: 340px;
  border-color: #8eaccd60;
  border-radius: 180px;
}

#second-outline {
  width: 320px;
  height: 320px;
  border-radius: 160px;
  border-color: #bc7af960;
}

.outline-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 6px;
  border-style: solid;
}

.profile-container {
  display: flex;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  gap: 60px;
}

.information-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #8eaccd;
}

#group-name {
  color: #bc7af9;
}

li.contact {
  display: flex;
  align-items: center;
  gap: 8px;
}

#contact-email {
  font-size: 20px;
}

#github {
  font-size: 20px;
}

.content {
  color: #bc7af9;
  margin-left: 100px;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
}

li.member {
}
